* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 1em;
}

header {
    padding: 2em;
    text-align: center;
}

main p {
    padding: 0.2em;
    color: #030303;
}

.table {
    width: 60%;
    padding: 0.5em;
    border: 0.3em solid #030303;
}

#tableChambre caption {
    color: #030303;
    font-size: 1em;
}

#tableChambre th, td {
    color: #030303;
    font-size: 1em;
}

button {
    width: 35%;
    color: #fff;
}

#libre {
    background-color: #29a329;
    color: #fff;
}

#reserve {
    background-color: #e60000;
    color: #fff;
}